name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.13.0'

    - name: Show Flutter info
      run: |
        flutter --version
        flutter doctor

    - name: Install dependencies
      run: |
        cd fitquest
        flutter pub get

    - name: Run tests
      run: |
        cd fitquest
        flutter test

    - name: Build chrome app
      run: |
        cd fitquest
        flutter run -d chrome
